*{
    box-sizing: border-box;
}

header{
    height: 100px;
}

nav *{    
    float:left;
    display: block;
}

nav a{
    width: 25%;
}

nav ul{
    width: 50%;
}

nav ul li{
    box-sizing: border-box;
    width: 25%;
}

nav button{
    float:right;
}

main section div{
    width:50%;
    float: left;
    height: 500px;
}

main section img{
    float: left;
    height: 500px;
}

main section+section{
    width: 100%;
    float: left;
}

.feature{
    float: left;
    width: 25%;
}

.feature img{
    height: 50px;
    display: block;

}

main + section{
    clear: both;
}

article{
    width: 50%;
    margin: 0px;
}

article + img{
    height: 400px;
}