*{
    box-sizing: border-box;
}

header,footer{
    height:100px;
    border:2px solid plum;
    clear: both;
}

div section{
    height: 200px;
    border: 2px solid plum;
    width: 33.3333%;
    float: left;
}

div+div section{
    height: 300px;
    border: 2px solid plum;
    width: 50%;
    float: left;

}